/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-image: url("https://m-cdn.phonearena.com/images/article/143515-wide-two_1600/Apple-tests-adding-news-to-the-native-Weather-app-in-iOS-16.2-Beta.webp?1667618530");
  background-size: cover;
  color: white;
  font-family: Roboto;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.header {
  padding: 50px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.header img {
  width: 100px;
  height: 100px;
}
h1 {
  font-size: 80px;
  font-weight: 500;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchBar,
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 20px;
  gap: 20px;
}

.search,
#city,
.switch {
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: aliceblue;
}
.search,
.switch {
  width: 50px;
}

#errorMessage {
  height: 20px;
  font-size: large;
}

#card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.name {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

#description {
  font-size: 30px;
  text-align: center;
}
.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  text-align: center;
}

.minMax {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feels,
.hum {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
  #city {
    width: 150px;
  }
}
.footer {
  position: fixed;
  bottom: 5px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
